<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Корзина</title>
  <link rel="stylesheet" href="{%static 'css/styleCart.css'%}" >
  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">

<script type="text/javascript">
  var user = '{{request.user}}'

  function getToken(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
const csrftoken = getToken('csrftoken');

</script>

</head>



<body>

  {% comment %} <p style="background-image: url('{% static "images/miet2.jpg" %}');"> {% endcomment %}

  <header>
    <nav>
      <label> <a href="/main/" class="logo">MIET FOOD</a></label>
      <ul>

        <li><a href="/cart/"><button class="aboutUs-button">
              Корзина
            </button></a></li>
        
        <li><a href="/profile/"><img src="/static/images/icons8-гость-мужчина-24.png" height="24" width="24"></a></li>
      </ul>
    </nav>
  </header>



  <main>
    
    <div class="aboutUs">
      
    <div class="aboutAbout">
      <h1 align="center"> Ваш заказ </h1>
    </div>
    
    {% block content %}
    {% for item in items %}
    <div class="item">
      <div class="imagePrik">
        <img src="{{item.product.image.url}}" width="150" height="150"/>
      </div>

      <div class="description">
        <span>{{item.product.title}}</span>
      </div>
      <div class="menshe-btn">
        <img data-product="{{item.product.id}}" data-action="remove" class="update-cart" src="/static/images/menshe.png" width="30" height="30" />
      </div>
      
      <div class="quantity input">
        <input type="text" name="name" value={{item.quantity}}>
      </div>

      <div class="bolshe-btn">
        <img data-product="{{item.product.id}}" data-action="add" class="update-cart" src="/static/images/bolshe.png" width="30" height="50" />
      </div>

      <div class="total-price">
        {{item.product.price|floatformat:2}} ₽
      </div>
     
    </div>
    {% endfor %}

    <p class="total-sum">
      Сумма: {{order.get_cart_total}} ₽
    </p>

    <form method="POST" class="Oformit-button">
      {% csrf_token %}
      <input class="Oformit-btn" type="submit" value="Оформить">
    </form>
    {% comment %} <button class="Oformit-button">
      Оформить
    </button> {% endcomment %}


    {% endblock content %}
    </div>

  </main>
  <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>

</body>


</html>